<!DOCTYPE html>
<html>

<head>

<meta charset="UTF-8">

<title>
Server Suspended - <%= settings.panelName %>
</title>

<link rel="icon" href="/falcon.ico">


<style>


body{

margin:0;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

font-family:Arial;

color:white;


background:

linear-gradient(

180deg,

rgba(5,10,20,.7),

rgba(0,0,0,.9)

),

url("/wallpaper.mp4");


}



.card{


background:

rgba(20,25,40,.45);


backdrop-filter:

blur(20px);


border:

1px solid rgba(255,255,255,.15);


border-radius:30px;


padding:50px;


text-align:center;


width:500px;


}




.cross{


font-size:100px;

color:#ef4444;


}




h1{


font-size:38px;


color:#ef4444;


}



p{


color:#aaa;

font-size:18px;


}




.button{


display:inline-block;


margin-top:25px;


padding:14px 30px;


background:#8b5cf6;


color:white;


border-radius:14px;


text-decoration:none;


}



</style>


</head>


<body>


<div class="card">


<div class="cross">

✕

</div>



<h1>

SERVER SUSPENDED

</h1>



<p>

This server has been suspended by an administrator.

</p>


<p>

All server access has been disabled.

</p>



<a class="button" href="/dashboard">

Return Dashboard

</a>


</div>


</body>


</html>